<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>

  <div class="container">
    <div class='header'>
      <a class='logo-link' href='/'>
        <img src='images/gnu_logo.png' class='logo' />
        <span class='logo_title'>Makefile Tutorial</span>
      </a>
      <span class='github-stars'><a class="github-button" href="https://github.com/theicfire/makefiletutorial"
          data-icon="octicon-star" data-show-count="true"
          aria-label="Star ntkme/github-buttons on GitHub">Star</a></span>
      <div class='header_links'>
        <a href='/'>HOME</a>
        <a href='/screencasts.html'>SCREENCASTS</a>
        <a href='https://github.com/theicfire/makefiletutorial'>GITHUB</a>
      </div>

    </div>
    <div style='clear:both'></div>
    {{ content }}
  </div>
</body>

</html>