.toc li {
    list-style: none;
}

.toc ol {
    padding: 0px;
}

.toc > ol {
    padding-left: 10px;
}


pre {
    overflow: auto;
}

html {
    height: 100%;
    font-family: 'Roboto', serif;
    line-height: 1.3;
    font-size: 16px;
    color: #3c4257;
}

a {
    color: #4078c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toc > ol > li {
    font-weight: bold;
}

p {
    margin: 16px 0 0 0;
}

pre {
    margin: 8px 0 0 0;
}

ul {
    margin: 8px 0 0 0;
}

h1 {
    margin: 32px 0 0 0;

}
h2 {
    margin: 16px 0 0 0;
}

* {
    min-width: 0; /* Otherwise <pre> blocks take up more space then they should. Needed for flexbox. */
}

.pre-wrapper {
    background-color: orange;
}

body {
    height: 100%;   
    width: 100%;
    overflow-y: hidden;  /*turn off scroll*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    flex-flow: row wrap;
    box-sizing: border-box;
}

.header {
    flex: 0 0 100%;
    height: 30px;
    background-color: pink;
    position: relative;
}

#left {
  flex: 0 0 300px;
  order: 1;
  height: calc(100% - 30px);
  overflow-y: auto;  /*adds scroll to this container*/
}

#right {
  flex: 1 0;  /*makes sure that content is not cut off in a smaller browser window*/
  order: 2;
  overflow-y: auto;  /*adds scroll to this container*/
  height: calc(100% - 30px);
  /* display: flex;
  justify-content: center; */
}

.toc {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
}

.content {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
    display: flex;
    justify-content: center;
}

.inner-content {
    max-width: 700px;
}